<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button (click)="collapsed = !collapsed" class="navbar-toggle" type="button">
        <span *ngFor="let iconBar of [1, 2, 3]" class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Recipe Book</a>
    </div>

    <div (window:resize)="collapsed = true" [class.collapse]="collapsed" class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a (click)="onSelect(headerLink.RECIPES)">Recipes</a></li>
        <li><a (click)="onSelect(headerLink.SHOPPING_LIST)">Shopping LIst</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" href="#" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
