<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header (linkSelected)="onNavigate($event)"></app-header>
      <app-recipes *ngIf="selectedLink === headerLink.RECIPES"></app-recipes>
      <app-shopping-list *ngIf="selectedLink === headerLink.SHOPPING_LIST"></app-shopping-list>
    </div>
  </div>
</div>
